<footer>
	<div class="content-padding">
		<div class="footer-content">
		 <p>Copyright &copy; Rodrigo Camacho</p>	
		 <div class="social-media-icons">
		 	<a href="#"> <i class="fa fa-google-plus-official"></i></a>
		 	<a href="#"> <i class="fa fa-instagram"></i></a>
		 </div>
		</div>
	</div>
</footer>